* {
    box-sizing: border-box;
}

body {
    background: #eceef1;
    font-family: 'Slabo 27px', serif;
    color: #333a45;
}

.wrapper {
    margin: 5em auto;
    max-width: 1300px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}

.header {
    padding: 30px 30px 0;
    text-align: center;
}

.header__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.1;
}

.header__subtitle {
    margin: 0;
    font-size: 1.5em;
    color: #949fb0;
    font-family: 'Yesteryear', cursive;
    font-weight: 500;
    line-height: 1.1;
}

.cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
}

.card {
    margin: 15px;
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;
}

.card__subtitle {
    color: #1abc9c;
}

@media screen and (max-width: 991px) {
    .card {
        width: calc((100% / 2) - 30px);
    }
}

@media screen and (max-width: 767px) {
    .card {
        width: 100%;
    }
}

.card:hover .card__inner {
    background-color: #1abc9c;
    transform: scale(1.05);
}

.card__inner {
    width: 100%;
    padding: 30px;
    position: relative;
    cursor: pointer;
    background-color: #949fb0;
    color: #eceef1;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.card__inner:after {
    transition: all 0.3s ease-in-out;
}

.card__inner .fa {
    width: 100%;
    margin-top: .25em;
}

.card__expander {
    transition: all 0.2s ease-in-out;
    background-color: #333a45;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #eceef1;
    font-size: 1.5em;
}

.card__expander .fa {
    font-size: 0.75em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.card__expander .fa:hover {
    opacity: 0.9;
}

.card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
}

.card.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
}

.card.is-expanded .card__inner {
    background-color: #1abc9c;
}

.card.is-expanded .card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45;
}

.card.is-expanded .card__inner .fa:before {
    content: "\f115";
}

.card.is-expanded .card__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
}

.card.is-expanded:hover .card__inner {
    transform: scale(1);
}

.card.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5;
}

.card.is-inactive:hover .card__inner {
    background-color: #949fb0;
    transform: scale(1);
}



/* floating button */
:root{
    --bgColor: #00415A;
    --primaryColor: #00B8FF;
    --colorHover: #3BC9FF;
    --sizeButton: 60px;
    --sizeIcons: 25px;
    --widthContent: 200px;
    --heightContent: 130px;
}

*{
    margin: 0;
    padding: 0;
}

.menu-content{
    width: var(--widthContent);
    height: var(--heightContent);
    position: fixed;
    bottom: 20px;
    left: 95%;
    transform: translateX(-50%);
}

.menu-item{
    width: var(--sizeButton);
    height: var(--sizeButton);
    background: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 70px;
    transition: transform 300ms;
}

.menu-item:hover{
    background: var(--colorHover);
}

.menu-item img{
    width: var(--sizeIcons);
    transition: transform 300ms;
}

#menu{
    z-index: 10;
}

.menu-active #menu img{
    transform: rotate(45deg);
}

.menu-active .menu-item:nth-child(2){
    transform: translateX(-70px);
}

.menu-active .menu-item:nth-child(3){
    transform: translateY(-70px);
}

.menu-active .menu-item:nth-child(4){
    transform: translateX(70px);
}


.main-content{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content h1{
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 3em;
}

/* Form Style */
#modal1 h1 {
    text-align: center;
}

#modal1 #msgvalidation {
    text-align: center;
    color: red;
}

/* Style inputs, select elements and textareas */
#form input[type=text], #form select, #form textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
#form label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
#form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Style the container */
#form .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Floating column for labels: 25% width */
#form .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
#form .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
#form .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    #form .col-25, #form .col-75, #form input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


@media screen and (min-width: 992px) {
    .card:nth-of-type(3n+2) .card__expander {
        margin-left: calc(-100% - 30px);
    }

    .card:nth-of-type(3n+3) .card__expander {
        margin-left: calc(-200% - 60px);
    }

    .card:nth-of-type(3n+4) {
        clear: left;
    }

    .card__expander {
        width: calc(300% + 60px);
    }
}

/* Loading */
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: lds-hourglass 1.2s infinite;
}

#loading {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5px;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .card:nth-of-type(2n+2) .card__expander {
        margin-left: calc(-100% - 30px);
    }

    .card:nth-of-type(2n+3) {
        clear: left;
    }

    .card__expander {
        width: calc(200% + 30px);
    }
}

@media screen and (max-width: 991px) {
    .card__more_info {
        font-size: 20px;
    }
    .menu-content {
        left: 90% !important;
    }
}